.item-list {
  list-style: none;
  padding: 0;
}

.item-list li {
  font-size: 20px;
  margin: 10px 0;
}

.favorite-icon {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}

.favorite-icon.filled {
  color: red;
}